extends ../template

block content

    +b.DIV.main

        +e.H1.title.title Main

        +e.A.link.link(href="about.html") about
        +e.A.link.link(href="contacts.html") contacts

        +test()
